.round-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  background-color: rgba(70, 56, 33, 0.2);
  transition: background-color 0.25s;

  &__id {
    width: 100%;
    text-align: center;
  }

  &__date {
    width: 100%;
    text-align: center;
  }

  &:hover {
    background-color: rgba(181, 156, 57, 0.1);
  }

  &:not(:last-child) {
    border-bottom: 1px solid #c58b2d;
  }
}

.area-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  height: 200px;
  overflow: hidden;
}
