body {
  margin: 0;
  color: #d4d4d4;
  background-color: #070910;
  font-family: Arial, sans-serif;
}

.app-wrapper {
  padding: 50px 20px;
}

.loader {
  display: flex;
  justify-content: center;
  padding: 15px;
}
